table { border-collapse: collapse; width: 100%}
tbody th { text-align:left;}
thead th { background-color: #0070cc; color: #eee; padding: 0 0.3em;}
th, td { border-bottom:  thin solid; border-top:  thin solid;}
tbody th, tbody td { padding-left: 0.5em;}
td.maturity { text-align: center; padding: 0;}

dl dt { margin-bottom: 0.3em;  font-size:1.1em;}

dl dd{ margin-bottom: 1em;}